<app-header title="{{ title }}" desc="{{ desc }}"></app-header>
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Tentang Fortuna Furniture</h2><br>
            <h4>Fortuna Furniture adalah perusahaan yang berdedikasi untuk memberikan pengalaman berbelanja perabotan
                rumah tangga yang unik dan berkualitas tinggi. Sebagai pemimpin dalam industri furnitur, Fortuna
                Furniture menghadirkan desain yang elegan dan inovatif untuk memenuhi kebutuhan setiap pelanggan. Dari
                kamar tidur hingga ruang tamu, koleksi kami mencakup berbagai gaya mulai dari klasik hingga modern,
                memberikan sentuhan eksklusif kepada rumah Anda.

            </h4><br>
            <p>Dengan komitmen terhadap kualitas, setiap produk di Fortuna Furniture dibuat dengan teliti menggunakan
                bahan-bahan terbaik. Kami percaya bahwa keindahan dan kenyamanan rumah Anda adalah prioritas utama, dan
                itulah yang mendorong kami untuk terus menghadirkan produk-produk yang tak hanya estetis, tetapi juga
                fungsional. Dari lemari hingga kursi, setiap furnitur Fortuna dirancang untuk memberikan kepuasan
                maksimal kepada pelanggan kami.

                Kami bangga menjadi mitra setia dalam menciptakan ruang impian Anda. Dengan layanan pelanggan yang ramah
                dan profesional, Fortuna Furniture memberikan pengalaman berbelanja yang tak terlupakan. Mari temukan
                keindahan dalam setiap detail bersama Fortuna Furniture, di mana kebahagiaan dan kenyamanan rumah Anda
                adalah prioritas utama kami.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/brands/LOGOFF.jpg" class="ms-4" alt="" width="400" height="400">
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15959.264918047313!2d109.3726395!3d-0.0586571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e1d575b33015f93%3A0xcebc1f3d9cca3503!2sTOKO%20KACA%20FORTUNA!5e0!3m2!1sen!2sid!4v1706489606505!5m2!1sen!2sid"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-8 ps-4">
            <h2>Nilai Kami</h2><br>
            <h4>Visi Fortuna Furniture adalah menjadi pelopor dalam industri furnitur yang menginspirasi setiap rumah
                untuk menjadi tempat yang nyaman, indah, dan penuh kehangatan. Kami bermimpi melampaui batas-batas
                desain, menciptakan lingkungan di mana setiap detail furnitur menceritakan kisah keindahan dan
                keharmonisan. Dengan visi ini, Fortuna Furniture bertekad untuk menjadi destinasi utama bagi mereka yang
                mencari pengalaman belanja furnitur yang tak terlupakan.
                <br><br>
                Misi Fortuna Furniture adalah menyediakan produk furnitur berkualitas tinggi yang mencerminkan
                keunggulan dalam desain dan inovasi. Kami berkomitmen untuk memberikan layanan yang luar biasa kepada
                pelanggan kami, memastikan bahwa setiap kebutuhan dan harapan mereka terpenuhi dengan sempurna. Fortuna
                Furniture tidak hanya sekadar menjual furnitur; kami berusaha menciptakan gaya hidup yang elegan dan
                membangun hubungan jangka panjang dengan pelanggan kami. Dengan fokus pada keberlanjutan, kami juga
                berusaha untuk mengurangi dampak lingkungan melalui praktik bisnis yang bertanggung jawab.

            </h4><br>
            <p>Kami percaya bahwa setiap rumah memiliki cerita uniknya sendiri, dan Fortuna Furniture hadir untuk
                merayakan keunikan tersebut. Dengan semangat inovasi dan dedikasi terhadap kualitas, kami mengarahkan
                misi kami untuk membantu pelanggan mewujudkan visi ideal rumah mereka. Fortuna Furniture adalah tempat
                di mana desain bermakna, dan setiap furnitur memiliki tujuan untuk memberikan kebahagiaan dan kepuasan
                kepada mereka yang memilihnya.</p>
        </div>
    </div>
</div>



<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="">
                <p>Contact us and we'll get back to you within 24 hours.</p>
            </div>
            <!-- Social Media Buttons -->
            <div class="social-media-buttons">
                <!-- Instagram -->
                <a href="https://www.instagram.com/fortunafurniture_ptk/" target="_blank" class="me-1 ms-1"
                    rel="noopener">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/240px-Instagram_icon.png"
                        alt="Instagram" width="24" height="24">
                </a>

                <!-- Facebook -->
                <a href="https://api.whatsapp.com/send/?phone=6281348587388&text&type=phone_number&app_absent=0"
                    target="_blank" class="me-1 ms-1" rel="noopener">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/240px-2023_Facebook_icon.svg.png"
                        alt="Facebook" width="24" height="24">
                </a>

                <!-- WhatsApp -->
                <a href="https://api.whatsapp.com/send/?phone=6281348587388&text&type=phone_number&app_absent=0"
                    target="_blank" class="me-1 ms-1" rel="noopener">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/239px-WhatsApp_icon.png"
                        alt="WhatsApp" width="24" height="24">
                </a>
            </div>

        </div>

    </div>
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">


<app-footer></app-footer>